* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 30px;
  font-family: sans-serif;
}
[class^="box-"] {
  display: grid;
  place-items: center;
  border: 3px solid rebeccapurple;
}
.container {
  display: grid;
  height: 100vh;
  grid-gap: 10px;
  grid-template-rows: 100px auto 50px;
}
